<launch>

  <group ns="group3">
    <param name="Working_Station" value="1" type="int"/>
    <param name="IP_address" value="192.168.1.100" type="str"/>
    <param name="port" value="12345" type="int"/>
    <node name="node0_1" pkg="ros_wifi" type="service_ask_cost.py" />
    <node name="node0_2" pkg="ros_wifi" type="service_ask_node.py" />
    <node name="node0_3" pkg="ros_wifi" type="service_ask_data.py"/>
    <node name="node0_4" pkg="ros_wifi" type="service_wifi_confirm.py" />
    <node name="node1_1" pkg="ros_wifi" type="wifi_client_send.py" output="screen"/>
    <node name="node1_2" pkg="ros_wifi" type="wifi_master_process.py" output="screen"/>
    <node name="node1_3" pkg="ros_wifi" type="wifi_server_receive.py" output="screen"/>
  </group>
  
</launch>
<!--
-->
